.score-bingos {
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #ffd700;
  padding: 8px 12px;
  margin-left: 8px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: bounce 1s infinite;
}
