.board {
  max-width: fit-content;
}

.board > div:first-child > div:first-child {
  border-radius: 25px 0 0 0;
}

.board > div:first-child > div:last-child {
  border-radius: 0 25px 0 0;
}

.board > div:last-child > div:first-child {
  border-radius: 0 0 0 25px;
}

.board > div:last-child > div:last-child {
  border-radius: 0 0 25px 0;
}

.board .header-card,
.board .card {
  padding: 4px !important;
}

.board .header-card {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  background-color: #f0f0f0;
}

.board .card {
  width: 20% !important;
  cursor: pointer;
  text-align: center;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 3;
  max-width: 100px !important;
}

@media (max-width: 600px) {
  .board .header-card,
  .board .card {
    max-width: 60px !important;
  }
}
