.board {
  max-width: fit-content;
  margin: auto;
}

.board > div:first-child > div:first-child {
  border-radius: 25px 0 0 0;
}

.board > div:first-child > div:last-child {
  border-radius: 0 25px 0 0;
}

.board > div:last-child > div:first-child {
  border-radius: 0 0 0 25px;
}

.board > div:last-child > div:last-child {
  border-radius: 0 0 25px 0;
}

.board .header-card,
.board .card {
  padding: 4px !important;
}

.board .header-card {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  background-color: #f0f0f0;
}

.board .card {
  cursor: pointer;
  text-align: center;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 3;
  max-width: 100px !important;
}

.board .curse {
  background-color: purple;
  color: white;
  text-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff0000;
  border: 1px solid red;
  padding: 10px;
  box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(255, 0, 0, 0.7);
  animation: flicker 1.5s infinite alternate;
  transition: transform 0.2s ease-in-out;
}

.board .curse:hover {
  transform: scale(1.1); /* Slightly enlarges on hover */
}

.board .completed-challenge {
  background-color: #f6ffed;
  color: #389e0d;
  border: 1px solid #b7eb8f;
  text-align: center;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.board .completed-challenge:hover {
  background-color: #e0f7e6;
  border-color: #a0d78b;
  transform: scale(1.05);
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.5;
  }
}

@media (max-width: 600px) {
  .board .header-card,
  .board .card {
    max-width: 60px !important;
  }
}
