.curse .ant-modal-header .ant-modal-title {
  padding-left: 4px;
  margin-bottom: 16px;
}

.boost .ant-modal-header .ant-modal-title {
  padding-left: 4px;

  margin-bottom: 16px;
}

.ant-modal-title {
  font-size: 0.95em !important;
}