.cursed {
  background-color: purple;
  color: white;
  padding: 8px;
  text-wrap: nowrap;
  border-radius: 8px;
}

.cursed:hover {
  transform: scale(1.1);
}

.boosted {
  background-color: dodgerblue;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.boosted:hover {
  transform: scale(1.1);
}