.cursed {
  background-color: '#9C27B0';
  color: white;
  padding: 8px;
  text-wrap: nowrap;
  border-radius: 8px;
}

.cursed:hover {
  transform: scale(1.1);
}

.boosted {
  background-color: '#2196F3';
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.boosted:hover {
  transform: scale(1.1);
}