body {
  overlay: hidden;
}

@media (max-width: 600px) {
  .app-container {
    max-width: 90% !important;
  }
  body {
    font-size: 2em;
  }
}

.app-container {
  max-width: fit-content;
  padding-top: 20px;
  margin: auto;
}
