body {
  /* background-color: #eee; */
  background-color: #89cdbe;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  max-width: 500px;
  min-width: 100px;
  max-height: 500px;
  min-height: 100px;
}

