body {
  background-color: #89cdbe;
  overlay: hidden;
}

.app-container {
  max-width: fit-content;
  margin-left : auto;
  margin-right: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .some-class {
    font-size: 14px; /* Example for small screens */
  }
}
